<?xml version="1.0"?>

  <connectionStrings>
    <add name="DefaultConnection"
     connectionString="Data Source=coderfoundry.cloudapp.net,55555;
     Initial Catalog=malaguerra-budgeter;                            
     User Id=mlaguerra;                            
     Password=ASPnet123$;                            
     Integrated Security=False"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

